use QL_NhaHang
go
set dateformat dmy
go

insert into NHANVIEN(MANV,TENNV,TENDANGNHAP,NGAYSINH,PHAI,DIACHI,DIENTHOAI,SO_HD_THUCHIEN,NGAYDANGNHAP,SOLANDN,QUYENHAN)
	select 'NV00100001',N'Nguyễn Hà Phong','NGUYENHAPHONG','12/11/1976','Nam',N' TPHCM','0903648212',4,getdate(),1,'Admin'
	


insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH001',N'Nguyễn M',N'Nam',N'9 Phan Huy Ích','0903698574'
insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH002',N'Trần Trân',N'Nam',N'12 Lạc Long Quân','0903698574'
insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH003',N'Phạm Thị Bình',N'Nữ',N'8/9 Nguyễn Trãi','088965743'
insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH004',N'Trần Ngọc Linh',N'Nam',N'541/8 Lạc Long Quân','088741689'
insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH005',N'Thôi Gia Bảo',N'Nam',N'789 An Dương Vương-F5-Q.5','0908756548'
insert into KHACHHANG(MsKH,TENKH,PHAI,DIACHI,DIENTHOAI)
	select 'KH006',N'Lại Trọng Nghĩa',N'Nam',N'36 Hùng Vương F6 Q.5','0908759842'


insert into MONAN(MAMON,TENMON,SL,DONGIA,DONVITINH)
	SELECT 'MH001',N'Bánh Canh',10,140000,N'Cái'
insert into MONAN(MAMON,TENMON,SL,DONGIA,DONVITINH)
	SELECT 'MH002',N'Bánh xèo châu phi',10,1100000,N'Cái'
insert into MONAN(MAMON,TENMON,SL,DONGIA,DONVITINH)
	SELECT 'MH003',N'Thịt luộc',10,2500000,N'Cái'
insert into MONAN(MAMON,TENMON,SL,DONGIA,DONVITINH)
	SELECT 'MH004',N'Thịt heo',20,1200000,N'Cái'


insert into HOADON(MSHD,MANV,MSKH,NGAYHD,TONGTIEN)
	select 'HD001','NV00100001','KH001','25/10/2020',6100000
insert into HOADON(MSHD,MANV,MSKH,NGAYHD,TONGTIEN)
	select 'HD002','NV00100001','KH002','25/10/2020',14400000
insert into HOADON(MSHD,MANV,MSKH,NGAYHD,TONGTIEN)
	select 'HD003','NV00100001','KH003','25/10/2020',12400000
insert into HOADON(MSHD,MANV,MSKH,NGAYHD,TONGTIEN)
	select 'HD004','NV00100001','KH004','25/10/2020',10200000


insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD001','MH001',2,2800000
insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD001','MH002',3,3300000

insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD002','MH001',4,5600000
insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD002','MH002',8,8800000

insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD003','MH003',4,10000000
insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD003','MH004',2,2400000

insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD004','MH002',6,6600000
insert into CHITIET_HD(MSHD,MAMON,SOLUONG,THANHTIEN)
	select 'HD004','MH004',3,3600000

go
select * from NHANVIEN
select * from KHACHHANG
select * from MONAN
select * from HOADON
select * from CHITIET_HD
