USE [QL_NhaHang]
GO
/****** Object:  StoredProcedure [dbo].[pr_SuaKH]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_SuaKH]
(
	@MSKH			CHAR(10),
	@TENKH			NVARCHAR(30),
	@PHAI			NCHAR(5),
	@DIACHI			NVARCHAR(100),
	@DIENTHOAI		VARCHAR(10)
)
AS
BEGIN
	IF EXISTS(SELECT MSKH FROM KHACHHANG WHERE MsKH = @MSKH)
	BEGIN
		UPDATE KHACHHANG
		SET		TENKH = @TENKH,
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI
		WHERE  MsKH = @MSKH
		RAISERROR(N'Sửa thông tin khách hàng thành công!', 16, 1)
	END
	ELSE
		RAISERROR(N'Sửa thông tin khách hàng không thành công!', 16, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[pr_SuaMonAN]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_SuaMonAN]
(
	@MAMON			CHAR(10),
	@TENMON			NVARCHAR(50),
	@SL			    INT,
	@DONGIA		    FLOAT,
	@DONVITINH	    NCHAR(10)
)
AS
BEGIN
	IF EXISTS(SELECT MAMON FROM MONAN WHERE MAMON = @MAMON)
	BEGIN
		UPDATE MONAN
		SET		TENMON = @TENMON,
				SL = @SL,
				@DONGIA = @DONGIA,
				@DONVITINH = @DONVITINH
		WHERE  MAMON = @MAMON
		RAISERROR(N'Sửa thông tin món ăn thành công!', 16, 1)
	END
	ELSE
		RAISERROR(N'Sửa thông tin món ăn không thành công!', 16, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[pr_SuaNV]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_SuaNV]
(
	
	----
	@MANV			CHAR(10),
	@TENNV			NVARCHAR(30),
	@TENDANGNHAP    NVARCHAR(256),
	@NGAYSINH       DATETIME,
	@PHAI			NCHAR(10),
	@DIACHI			NVARCHAR(50),
	@DIENTHOAI		VARCHAR(10),
	@SO_HD_THUCHIEN  INT,
	@NGAYDANGNHAP    DATETIME,
	@SOLANDN         INT,
	@QUYENHAN        NVARCHAR(20)
)
AS
BEGIN
	IF EXISTS(SELECT MANV FROM NHANVIEN WHERE MANV = @MANV)
	BEGIN
		UPDATE NHANVIEN
		SET		TENNV = @TENNV,
		        TENDANGNHAP = @TENDANGNHAP,
				NGAYSINH  =@NGAYSINH,  
				PHAI = @PHAI,
				DIACHI = @DIACHI,
				DIENTHOAI = @DIENTHOAI,
				SO_HD_THUCHIEN=@SO_HD_THUCHIEN,
				NGAYDANGNHAP=@NGAYDANGNHAP,
				SOLANDN = @SOLANDN,
				QUYENHAN=@QUYENHAN
		WHERE  MANV = @MANV
		RAISERROR(N'Sửa thông tin nhân viên thành công!', 16, 1)
	END
	ELSE
		RAISERROR(N'Sửa thông tin nhân viên không thành công!', 16, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[pr_TaoMAHD]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_TaoMAHD]
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM HOADON)
		PRINT 'HD'+	CAST(YEAR(GETDATE()) AS VARCHAR) + 
							CAST(MONTH(GETDATE()) AS VARCHAR) + 
							CAST(DAY(GETDATE()) AS VARCHAR) + '001'
	ELSE
	BEGIN
		DECLARE @HD1 VARCHAR(10),
				@HD2 VARCHAR(15),
				@T1 INT
		SELECT @HD1 = MAX(RTRIM(MSHD)) FROM HOADON
		SET @T1 = RIGHT(@HD1, 3) + 1

		IF LEN(@T1)=1
			SET @HD2 = 'HD'+	CAST(YEAR(GETDATE()) AS VARCHAR) + 
								CAST(MONTH(GETDATE()) AS VARCHAR) + 
								CAST(DAY(GETDATE()) AS VARCHAR) + '00' + CAST(@T1 AS VARCHAR)
		ELSE
			IF LEN(@T1)=2 
				SET @HD2 = 'HD'+	CAST(YEAR(GETDATE()) AS VARCHAR) + 
									CAST(MONTH(GETDATE()) AS VARCHAR) + 
									CAST(DAY(GETDATE()) AS VARCHAR) + '0' + CAST(@T1 AS VARCHAR)
			ELSE
				IF LEN(@T1)=3
					SET @HD2 = 'HD'+	CAST(YEAR(GETDATE()) AS VARCHAR) + 
										CAST(MONTH(GETDATE()) AS VARCHAR) + 
										CAST(DAY(GETDATE()) AS VARCHAR) + CAST(@T1 AS VARCHAR)
		PRINT @HD2
	END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_ThemKH]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_ThemKH]
(
	@MSKH			CHAR(10),
	@TENKH			NVARCHAR(30),
	@PHAI			NCHAR(5),
	@DIACHI			NVARCHAR(100),
	@DIENTHOAI		VARCHAR(10)
)
AS
BEGIN
	IF EXISTS(SELECT MSKH FROM KHACHHANG WHERE MSKH = @MSKH)
	BEGIN
		RAISERROR(N'Mã khách hàng: %s này đã tồn tại!!!!...Huhuhuhu', 16, 1, @MSKH)
	END
	ELSE
	BEGIN
		INSERT INTO KHACHHANG(MsKH, TENKH, PHAI, DIACHI, DIENTHOAI)
			VALUES(@MsKH, @TENKH, @PHAI, @DIACHI, @DIENTHOAI)
		RAISERROR(N'Thêm khách hàng: %s - %s MỚI này thành công!!!...Kakakakaka', 16, 1, @MSKH, @TENKH)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_ThemMon]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[pr_ThemMon]
(
	@MAMON			CHAR(10),
	@TENMON			NVARCHAR(50),
	@SL			    INT,
	@DONGIA		    FLOAT,
	@DONVITINH	    NCHAR(10)
)
AS
BEGIN
	IF EXISTS(SELECT MAMON FROM MONAN WHERE MAMON = @MAMON)
	BEGIN
		RAISERROR(N'Mã món ăn: %s này đã tồn tại!!!!...Huhuhuhu', 16, 1, @MAMON)
	END
	ELSE
	BEGIN
		INSERT INTO MONAN(MAMON, TENMON, SL, DONGIA, DONVITINH)
			VALUES(@MAMON, @TENMON, @SL, @DONGIA, @DONVITINH)
		RAISERROR(N'Thêm món ăn: %s - %s MỚI này thành công!!!...meowmeowmeow', 16, 1, @MAMON, @TENMON)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_ThemNV]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_ThemNV]
(
	@MANV			CHAR(10),
	@TENNV			NVARCHAR(30),
	@TENDANGNHAP          NVARCHAR(256),
	@NGAYSINH       DATETIME,
	@PHAI			NCHAR(10),
	@DIACHI			NVARCHAR(50),
	@DIENTHOAI		VARCHAR(10),
	@SO_HD_THUCHIEN  INT,
	@NGAYDANGNHAP    DATETIME,
	@SOLANDN         INT,
	@QUYENHAN        NVARCHAR(20)
)
AS
BEGIN
	IF EXISTS(SELECT MANV FROM NHANVIEN WHERE MANV = @MANV)
	BEGIN
		RAISERROR(N'Mã nhân viên: %s này đã tồn tại!!!!...Huhuhuhu', 16, 1, @MANV)
	END
	ELSE
	BEGIN
		INSERT INTO NHANVIEN(MANV, TENNV, TENDANGNHAP, NGAYSINH, PHAI,DIACHI,DIENTHOAI,SO_HD_THUCHIEN,NGAYDANGNHAP,SOLANDN,QUYENHAN)
			VALUES(@MANV, @TENNV,@TENDANGNHAP, @NGAYSINH, @PHAI,@DIACHI,@DIENTHOAI,@SO_HD_THUCHIEN,@NGAYDANGNHAP,@SOLANDN,@QUYENHAN)
		RAISERROR(N'Thêm nhân viên: %s - %s MỚI này thành công!!!...Kakakakaka', 16, 1, @MANV, @TENNV)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_XoaKH]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_XoaKH]
(
	@MSKH			CHAR(10)
)
AS
BEGIN
	------Trường hợp 1: Khách hàng chưa có hóa đơn
	IF EXISTS(SELECT MSKH FROM KHACHHANG WHERE MsKH = @MSKH)
		IF NOT EXISTS(SELECT MSKH FROM HOADON WHERE MSKH = @MSKH)
		BEGIN
			DELETE KHACHHANG WHERE MsKH = @MSKH
			RAISERROR(N'Đã xóa thành công khách hàng chưa có mua hàng!', 16, 1)
		END
	ELSE
		------Trường hợp 2: Khách hàng đã mua hàng
		IF EXISTS(SELECT * FROM HOADON hd, CHITIET_HD ct WHERE hd.MSHD = ct.MSHD and hd.MSKH = @MSKH)
		BEGIN
			declare @hd char(10)
			SELECT @hd = MSHD FROM HOADON WHERE MSKH = @MSKH
			----------------------------------------------
			DELETE CHITIET_HD WHERE MSHD = @hd				--Xóa các mặt hàng theo hóa đơn
			DELETE HOADON WHERE MSKH = @MSKH AND MSHD = @hd	--Xóa các hơn đơn theo khách hàng
			DELETE KHACHHANG WHERE MsKH = @MSKH				--Xóa khách hàng trong bảng khách hàng
		END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_XoaMonAn]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[pr_XoaMonAn]
(
	@MAMON			CHAR(10)
)
AS
BEGIN
	------Trường hợp 1: Khách hàng chưa có hóa đơn(Copy tí thôi kakaka!)
	IF EXISTS(SELECT MAMON FROM MONAN WHERE MAMON = @MAMON)
		IF NOT EXISTS(SELECT MANV FROM HOADON WHERE MANV = @MAMON)
		BEGIN
			DELETE MONAN WHERE MAMON = @MAMON
			RAISERROR(N'Đã xóa thành công món ăn  này!', 16, 1)
		END
	ELSE
		------Trường hợp 2: Khách hàng đã mua hàng(Giống như trên :))))
		IF EXISTS(SELECT * FROM HOADON hd, CHITIET_HD ct WHERE hd.MSHD = ct.MSHD and hd.MANV = @MAMON)
		BEGIN
			declare @hd char(10)
			SELECT @hd = MSHD FROM HOADON WHERE MANV = @MAMON
			--------------------------------------------------Quên xóa :))-----
			DELETE CHITIET_HD WHERE MSHD = @hd				--Xóa các mặt hàng theo hóa đơn
			DELETE HOADON WHERE MANV = @MAMON AND MSHD = @hd	--Xóa các hơn đơn theo khách hàng
			DELETE NHANVIEN WHERE MANV = @MAMON				--Xóa khách hàng trong bảng khách hàng
		END
END

GO
/****** Object:  StoredProcedure [dbo].[pr_XoaNV]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_XoaNV]
(
	@MANV			CHAR(10)
)
AS
BEGIN
	------Trường hợp 1: Khách hàng chưa có hóa đơn
	IF EXISTS(SELECT MANV FROM NHANVIEN WHERE MANV = @MANV)
		IF NOT EXISTS(SELECT MANV FROM HOADON WHERE MANV = @MANV)
		BEGIN
			DELETE NHANVIEN WHERE MANV = @MANV
			RAISERROR(N'Đã xóa thành công nhân viên này!', 16, 1)
		END
	ELSE
		------Trường hợp 2: Khách hàng đã mua hàng
		IF EXISTS(SELECT * FROM HOADON hd, CHITIET_HD ct WHERE hd.MSHD = ct.MSHD and hd.MANV = @MANV)
		BEGIN
			declare @hd char(10)
			SELECT @hd = MSHD FROM HOADON WHERE MANV = @MANV
			----------------------------------------------
			DELETE CHITIET_HD WHERE MSHD = @hd				--Xóa các mặt hàng theo hóa đơn
			DELETE HOADON WHERE MANV = @MANV AND MSHD = @hd	--Xóa các hơn đơn theo khách hàng
			DELETE NHANVIEN WHERE MANV = @MANV				--Xóa khách hàng trong bảng khách hàng
		END
END

GO
/****** Object:  Table [dbo].[CHITIET_HD]    Script Date: 1/3/2021 5:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_HD](
	[MSHD] [char](15) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/3/2021 5:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MSHD] [char](15) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[MSKH] [char](10) NOT NULL,
	[NGAYHD] [datetime] NOT NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/3/2021 5:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MsKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[PHAI] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MsKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 1/3/2021 5:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMON] [char](10) NOT NULL,
	[TENMON] [nvarchar](50) NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [float] NULL,
	[DONVITINH] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/3/2021 5:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[TENDANGNHAP] [nvarchar](256) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[PHAI] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[SO_HD_THUCHIEN] [int] NULL,
	[NGAYDANGNHAP] [datetime] NULL,
	[SOLANDN] [int] NULL,
	[QUYENHAN] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIET_HD] ([MSHD], [MAMON], [SOLUONG], [THANHTIEN]) VALUES (N'HD001          ', N'MH001     ', 2, 2800000.0000)
INSERT [dbo].[CHITIET_HD] ([MSHD], [MAMON], [SOLUONG], [THANHTIEN]) VALUES (N'HD001          ', N'MH002     ', 3, 3300000.0000)
INSERT [dbo].[CHITIET_HD] ([MSHD], [MAMON], [SOLUONG], [THANHTIEN]) VALUES (N'HD002          ', N'MH001     ', 4, 5600000.0000)
INSERT [dbo].[HOADON] ([MSHD], [MANV], [MSKH], [NGAYHD], [TONGTIEN]) VALUES (N'HD001          ', N'NV00100001', N'KH001     ', CAST(N'2020-10-25 00:00:00.000' AS DateTime), 6100000)
INSERT [dbo].[HOADON] ([MSHD], [MANV], [MSKH], [NGAYHD], [TONGTIEN]) VALUES (N'HD002          ', N'NV00100001', N'KH002     ', CAST(N'2020-10-25 00:00:00.000' AS DateTime), 14400000)
INSERT [dbo].[HOADON] ([MSHD], [MANV], [MSKH], [NGAYHD], [TONGTIEN]) VALUES (N'HD003          ', N'NV00100001', N'KH003     ', CAST(N'2020-10-25 00:00:00.000' AS DateTime), 12400000)
INSERT [dbo].[KHACHHANG] ([MsKH], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'1212      ', N'21', N'Nam       ', N'', N'')
INSERT [dbo].[KHACHHANG] ([MsKH], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'123       ', N'', N'Nam       ', N'', N'')
INSERT [dbo].[KHACHHANG] ([MsKH], [TENKH], [PHAI], [DIACHI], [DIENTHOAI]) VALUES (N'12312     ', N'', N'Nữ        ', N'', N'')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [SL], [DONGIA], [DONVITINH]) VALUES (N'MH001     ', N'Bánh canh', 12121, 50000, N'Cái       ')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [SL], [DONGIA], [DONVITINH]) VALUES (N'MH00123   ', N'Bánh canh heo', 12121, 500001, N'Cái       ')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [SL], [DONGIA], [DONVITINH]) VALUES (N'MH002     ', N'Thịt bò', 1, 50000, N'Cái       ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [NGAYSINH], [PHAI], [DIACHI], [DIENTHOAI], [SO_HD_THUCHIEN], [NGAYDANGNHAP], [SOLANDN], [QUYENHAN]) VALUES (N'123       ', N'12', N'', CAST(N'2021-01-03 00:00:00.000' AS DateTime), N'Nam       ', N'', N'', 0, CAST(N'2021-01-03 00:00:00.000' AS DateTime), 0, N'')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [NGAYSINH], [PHAI], [DIACHI], [DIENTHOAI], [SO_HD_THUCHIEN], [NGAYDANGNHAP], [SOLANDN], [QUYENHAN]) VALUES (N'Ngy?n A   ', N'1212', N'2121', CAST(N'2021-01-03 00:00:00.000' AS DateTime), N'Nam       ', N'121', N'212', 212, CAST(N'2021-01-03 00:00:00.000' AS DateTime), 121212, N'2121')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [TENDANGNHAP], [NGAYSINH], [PHAI], [DIACHI], [DIENTHOAI], [SO_HD_THUCHIEN], [NGAYDANGNHAP], [SOLANDN], [QUYENHAN]) VALUES (N'NV00100001', N'Nguyễn Hà Phong', N'NGUYENHAPHONG', CAST(N'2000-04-09 00:00:00.000' AS DateTime), N'Nam       ', N' TPHCM', N'0903648212', 4, CAST(N'2021-01-02 19:01:25.837' AS DateTime), 1, N'Admin')
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD] FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOADON] ([MSHD])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CT_HD]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_MH] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CT_MH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MSKH])
REFERENCES [dbo].[KHACHHANG] ([MsKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
